@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  font-family: 'Tokyo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body,  button, textarea, select ,h1, h2,h3{
  font-family: 'Tokyo', sans-serif;
}

p , div, input {
  font-family: 'Centery', serif; /* Use Centery for paragraphs */
}


@font-face {
  font-family: 'Tokyo';
  src: url('/fonts/TokyoRegular-3lmq6.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Centery';
  src: url('/fonts/Century Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
